<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
 <h1>Team Name: <%= @name %></h1>
<p>Coach: <%= @team_coach %></p>
<p>Point Guard: <%= @team_point %></p>
<p>Shooting Guard: <%= @team_shoot %></p>
<p>Small Forward: <%= @team_small %></p>
<p>Power Forward: <%= @team_power %></p>
<p>Center: <%= @team_center %></p>

 </body>
</html>


